<section class="form-section">
     <div class="text">
          <h3>Fique por dentro das tendências</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, eveniet blanditiis? Neque repudiandae, recusandae optio assumenda eligendi mollitia dolorum beatae voluptatem deleniti, explicabo perspiciatis saepe est perferendis alias unde voluptatibus.</p>
     </div>
     <form>
          <label for="name">Name</label>
          <input id="name">
          <label for="email">Email</label>
          <input id="email">
          <btn-primary btn-text="enviar"></btn-primary>
     </form>
</section>


